<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.CitysMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.CAKESHOP.POJO.Citys">
        <result column="id" property="id"/>
        <result column="cityid" property="cityid"/>
        <result column="city" property="city"/>
        <result column="city_py" property="cityPy"/>
        <result column="city_pym" property="cityPym"/>
        <result column="clazz" property="clazz"/>
        <result column="parent_id" property="parentId"/>
        <result column="postcode" property="postcode"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        cityid,
        city,
        city_py,
        city_pym,
        clazz,
        parent_id,
        postcode
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO citys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.cityid != null"> cityid, </if>
            <if test="pojo.city != null"> city, </if>
            <if test="pojo.cityPy != null"> city_py, </if>
            <if test="pojo.cityPym != null"> city_pym, </if>
            <if test="pojo.clazz != null"> clazz, </if>
            <if test="pojo.parentId != null"> parent_id, </if>
            <if test="pojo.postcode != null"> postcode, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.cityid != null"> #{pojo.cityid}, </if>
            <if test="pojo.city != null"> #{pojo.city}, </if>
            <if test="pojo.cityPy != null"> #{pojo.cityPy}, </if>
            <if test="pojo.cityPym != null"> #{pojo.cityPym}, </if>
            <if test="pojo.clazz != null"> #{pojo.clazz}, </if>
            <if test="pojo.parentId != null"> #{pojo.parentId}, </if>
            <if test="pojo.postcode != null"> #{pojo.postcode}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO citys(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.cityid},
            #{pojo.city},
            #{pojo.cityPy},
            #{pojo.cityPym},
            #{pojo.clazz},
            #{pojo.parentId},
            #{pojo.postcode}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE citys
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.cityid != null"> cityid = #{pojo.cityid}, </if>
            <if test="pojo.city != null"> city = #{pojo.city}, </if>
            <if test="pojo.cityPy != null"> city_py = #{pojo.cityPy}, </if>
            <if test="pojo.cityPym != null"> city_pym = #{pojo.cityPym}, </if>
            <if test="pojo.clazz != null"> clazz = #{pojo.clazz}, </if>
            <if test="pojo.parentId != null"> parent_id = #{pojo.parentId}, </if>
            <if test="pojo.postcode != null"> postcode = #{pojo.postcode} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM citys
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.cityid != null"> AND cityid = #{pojo.cityid} </if>
            <if test="pojo.city != null"> AND city = #{pojo.city} </if>
            <if test="pojo.cityPy != null"> AND city_py = #{pojo.cityPy} </if>
            <if test="pojo.cityPym != null"> AND city_pym = #{pojo.cityPym} </if>
            <if test="pojo.clazz != null"> AND clazz = #{pojo.clazz} </if>
            <if test="pojo.parentId != null"> AND parent_id = #{pojo.parentId} </if>
            <if test="pojo.postcode != null"> AND postcode = #{pojo.postcode} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM citys where id = #{id}
    </delete>
</mapper>
