<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CAKESHOP.mapper.FavouriteMapper">

    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.CAKESHOP.dao.Favourite">
        <result column="user_phone" property="userPhone"/>
        <result column="product_id" property="productId"/>
        <result column="store_id" property="storeId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insertWish">
        insert into favourite(user_phone, product_id, store_id, create_time)
        value (${userPhone},${productId},${storeId},#{createTime});
    </insert>

    <select id="findWish" resultType="int">
        select count(*)
        from favourite
        where user_phone=${userPhone} and product_id=${productId} and store_id=${storeId};
    </select>

</mapper>