<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CAKESHOP.mapper.OrdersMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.CAKESHOP.dao.Orders">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="user_phone" property="userPhone"/>
        <result column="product_id" property="productId"/>
        <result column="store_id" property="storeId"/>
        <result column="amount" property="amount"/>
        <result column="single_price" property="singlePrice"/>
        <result column="total_price" property="totalPrice"/>
        <result column="order_status" property="orderStatus"/>
        <result column="time_stamp" property="timeStamp"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        order_id,
        user_phone,
        product_id,
        store_id,
        amount,
        single_price,
        total_price,
        order_status,
        time_stamp
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.orderId != null"> order_id, </if>
            <if test="pojo.userPhone != null"> user_phone, </if>
            <if test="pojo.productId != null"> product_id, </if>
            <if test="pojo.storeId != null"> store_id, </if>
            <if test="pojo.amount != null"> amount, </if>
            <if test="pojo.singlePrice != null"> single_price, </if>
            <if test="pojo.totalPrice != null"> total_price, </if>
            <if test="pojo.orderStatus != null"> order_status, </if>
            <if test="pojo.timeStamp != null"> time_stamp, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.orderId != null"> #{pojo.orderId}, </if>
            <if test="pojo.userPhone != null"> #{pojo.userPhone}, </if>
            <if test="pojo.productId != null"> #{pojo.productId}, </if>
            <if test="pojo.storeId != null"> #{pojo.storeId}, </if>
            <if test="pojo.amount != null"> #{pojo.amount}, </if>
            <if test="pojo.singlePrice != null"> #{pojo.singlePrice}, </if>
            <if test="pojo.totalPrice != null"> #{pojo.totalPrice}, </if>
            <if test="pojo.orderStatus != null"> #{pojo.orderStatus}, </if>
            <if test="pojo.timeStamp != null"> #{pojo.timeStamp}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO orders(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.orderId},
            #{pojo.userPhone},
            #{pojo.productId},
            #{pojo.storeId},
            #{pojo.amount},
            #{pojo.singlePrice},
            #{pojo.totalPrice},
            #{pojo.orderStatus},
            #{pojo.timeStamp}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE orders
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.orderId != null"> order_id = #{pojo.orderId}, </if>
            <if test="pojo.userPhone != null"> user_phone = #{pojo.userPhone}, </if>
            <if test="pojo.productId != null"> product_id = #{pojo.productId}, </if>
            <if test="pojo.storeId != null"> store_id = #{pojo.storeId}, </if>
            <if test="pojo.amount != null"> amount = #{pojo.amount}, </if>
            <if test="pojo.singlePrice != null"> single_price = #{pojo.singlePrice}, </if>
            <if test="pojo.totalPrice != null"> total_price = #{pojo.totalPrice}, </if>
            <if test="pojo.orderStatus != null"> order_status = #{pojo.orderStatus}, </if>
            <if test="pojo.timeStamp != null"> time_stamp = #{pojo.timeStamp} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM orders
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.orderId != null"> AND order_id = #{pojo.orderId} </if>
            <if test="pojo.userPhone != null"> AND user_phone = #{pojo.userPhone} </if>
            <if test="pojo.productId != null"> AND product_id = #{pojo.productId} </if>
            <if test="pojo.storeId != null"> AND store_id = #{pojo.storeId} </if>
            <if test="pojo.amount != null"> AND amount = #{pojo.amount} </if>
            <if test="pojo.singlePrice != null"> AND single_price = #{pojo.singlePrice} </if>
            <if test="pojo.totalPrice != null"> AND total_price = #{pojo.totalPrice} </if>
            <if test="pojo.orderStatus != null"> AND order_status = #{pojo.orderStatus} </if>
            <if test="pojo.timeStamp != null"> AND time_stamp = #{pojo.timeStamp} </if>
        </where>
        LIMIT 1000 
    </select>

    <select id="selectAllOrders" resultMap="AllColumnMap">
        SELECT * FROM orders
    </select>

    <select id="selectByUserId" resultMap="AllColumnMap">
        SELECT * FROM orders
        WHERE user_phone=#{userPhone};
    </select>

    <!-- NO DELETE -->
</mapper>
