<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ProductsByStoreMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.CAKESHOP.POJO.ProductsByStore">
        <result column="id" property="id"/>
        <result column="store_id" property="storeId"/>
        <result column="product_id" property="productId"/>
        <result column="inventory" property="inventory"/>
        <result column="original_price" property="originalPrice"/>
        <result column="discount" property="discount"/>
        <result column="product_status" property="productStatus"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        store_id,
        product_id,
        inventory,
        original_price,
        discount,
        product_status
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO products_by_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.storeId != null"> store_id, </if>
            <if test="pojo.productId != null"> product_id, </if>
            <if test="pojo.inventory != null"> inventory, </if>
            <if test="pojo.originalPrice != null"> original_price, </if>
            <if test="pojo.discount != null"> discount, </if>
            <if test="pojo.productStatus != null"> product_status, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.storeId != null"> #{pojo.storeId}, </if>
            <if test="pojo.productId != null"> #{pojo.productId}, </if>
            <if test="pojo.inventory != null"> #{pojo.inventory}, </if>
            <if test="pojo.originalPrice != null"> #{pojo.originalPrice}, </if>
            <if test="pojo.discount != null"> #{pojo.discount}, </if>
            <if test="pojo.productStatus != null"> #{pojo.productStatus}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO products_by_store(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.storeId},
            #{pojo.productId},
            #{pojo.inventory},
            #{pojo.originalPrice},
            #{pojo.discount},
            #{pojo.productStatus}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE products_by_store
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.storeId != null"> store_id = #{pojo.storeId}, </if>
            <if test="pojo.productId != null"> product_id = #{pojo.productId}, </if>
            <if test="pojo.inventory != null"> inventory = #{pojo.inventory}, </if>
            <if test="pojo.originalPrice != null"> original_price = #{pojo.originalPrice}, </if>
            <if test="pojo.discount != null"> discount = #{pojo.discount}, </if>
            <if test="pojo.productStatus != null"> product_status = #{pojo.productStatus} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM products_by_store
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.storeId != null"> AND store_id = #{pojo.storeId} </if>
            <if test="pojo.productId != null"> AND product_id = #{pojo.productId} </if>
            <if test="pojo.inventory != null"> AND inventory = #{pojo.inventory} </if>
            <if test="pojo.originalPrice != null"> AND original_price = #{pojo.originalPrice} </if>
            <if test="pojo.discount != null"> AND discount = #{pojo.discount} </if>
            <if test="pojo.productStatus != null"> AND product_status = #{pojo.productStatus} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM products_by_store where id = #{id}
    </delete>
</mapper>
