<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.SpecialProductsMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.CAKESHOP.POJO.SpecialProducts">
        <result column="id" property="id"/>
        <result column="sector_name" property="sectorName"/>
        <result column="product_id" property="productId"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        sector_name,
        product_id
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO special_products
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.sectorName != null"> sector_name, </if>
            <if test="pojo.productId != null"> product_id, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.sectorName != null"> #{pojo.sectorName}, </if>
            <if test="pojo.productId != null"> #{pojo.productId}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO special_products(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.sectorName},
            #{pojo.productId}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE special_products
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.sectorName != null"> sector_name = #{pojo.sectorName}, </if>
            <if test="pojo.productId != null"> product_id = #{pojo.productId} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM special_products
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.sectorName != null"> AND sector_name = #{pojo.sectorName} </if>
            <if test="pojo.productId != null"> AND product_id = #{pojo.productId} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM special_products where id = #{id}
    </delete>
</mapper>
